/* Normalizer */
* {
	box-sizing: border-box;
	font-family: 'Walter Turncoat', cursive;
}

html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	background: #e7e7e7;
}

/* Style */
.wrapper {
	width: 375px;
	height: 667px;
	background: #FFF;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
	.wrapper #menu {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 667px;
		background: #fff;
		border-right: 1px solid #c1c1c1;
		text-align: center;
		transition: all .4s cubic-bezier(0.200, 0, 0, 1.200);
	}
		.wrapper #menu.ingame {
			transform: translateX(-376px);
		}
		.wrapper #menu h1 {
			text-align: center;
			margin-top: calc(667px / 2 - 60px);
		}
		.wrapper #menu a {
			background: #e7e7e7;
			padding: 10px 30px;
			color: #000;
			text-decoration: none;
		}

	.wrapper #canvas {
		width: 100%;
		height: 667px;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}